* {
    box-sizing: border-box;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.dropbtn {
    background-color: teal;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    paddding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: purple
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown: hover .dropbtn {
    background-color: orange;
}

.checked {
    color: orange;
}